.about-page{
background:#111;
color:white;
min-height:100vh;
font-family:Arial, sans-serif;
padding-bottom:40px;
}

.about-hero{
text-align:center;
padding:60px 20px;
background:linear-gradient(to right,#000,#222,#111);
}

.about-hero h1{
font-size:55px;
margin-bottom:10px;
}

.about-hero p{
font-size:22px;
color:#ccc;
}

.about-container{
width:90%;
max-width:1200px;
margin:auto;
padding-top:30px;

display:grid;
grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
gap:25px;
}

.about-card{
background:#1b1b1b;
padding:25px;
border-radius:14px;
box-shadow:0 6px 14px rgba(0,0,0,.4);
transition:0.3s;
}

.about-card:hover{
transform:translateY(-8px);
}

.about-card h2{
color:red;
margin-bottom:15px;
font-size:26px;
}

.about-card p{
color:#ddd;
line-height:1.8;
font-size:16px;
margin-bottom:10px;
}

.about-card ul{
padding-left:20px;
}

.about-card li{
margin-bottom:10px;
color:#ccc;
font-size:16px;
}

@media(max-width:768px){

.about-hero h1{
font-size:38px;
}

.about-hero p{
font-size:18px;
}

.about-container{
grid-template-columns:1fr;
}

}